<div class="row">
  <div class="col">
    <h1>SHAMBOMON: <%= @game %></h1>
    <script>
      window.gameName = "<%= @game %>";
    </script>
    <div id="game">
      <p>React app not loaded...</p>
    </div>
    <input type="hidden" id="current-user" value=<%= @current_user.id %>>
  </div>
</div>
