<%= render ShambomonWeb.ComponentView, "functions.html", assigns %>

<%= if @current_user do %>
<%= render ShambomonWeb.ComponentView, "help.html", assigns %>
<script>
  window.gameName = "<%= @game %>";
</script>
<div id="game">
  <p>React app not loaded...</p>
</div>
<input type="hidden" id="current-user" value=<%= @current_user.id %>>

<% else %>
<%= render ShambomonWeb.ComponentView, "header.html", assigns %>
<%= render ShambomonWeb.ComponentView, "no_session.html", assigns %>

<% end %>
