/* This file is for your main application css. */
@import "bootstrap";

/********************************** FONTS ********************************/
@font-face {
  font-family: 'Pokemon Classic';
  src: url('/fonts/Pokemon Classic.ttf');
}

@font-face {
  font-family: 'PixelOperator';
  src: url('/fonts/PixelOperator.ttf');
}
/****************************** END OF FONTS *****************************/

/************************** SHARED ACROSS PAGES **************************/
body {
  font-family: 'PixelOperator';
  font-size: 21px;
  //cursor: url('/images/Pokeball.png'), auto;
}

a:hover {
    text-decoration: none;
}

.btn {
  font-size: 21px;
}

.btn-primary {
  width: 100%;
}

/* Used for "SHAMBOMON" header on every page */
.shambomon-header {
  font-family: 'Pokemon Classic';
  font-size: 70px;
}

h1 {
  font-family: 'Pokemon Classic';
  font-size: 45px;
}

/* Centers a div in the middle of the screen */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

/* Aligns a div on the right side */
.right-side {
  text-align: right;
  display: block;
}

/* Creates a "|" divider between text */
.divider {
  display: inline;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
}

/* Centers text */
.center-text {
  text-align: center;
  font-size: 30px;
}

/* Aligns text at the top-right */
.top-right {
  text-align: right;
  padding-top: 10px;
  font-size: 25px;
}
/*********************** END OF SHARED ACROSS PAGES **********************/

/****************************** INSTRUCTIONS *****************************/
/* Don't display the instructions by default */
.instructions {
  display: none;
  font-size: 19px;
}

/* Justifies the instruction p tags */
.explanation {
  text-align: justify;
}

/* Emphasizes certain text by changing the color */
.instructions span {
  color: #57af9e;
}
/************************** END OF INSTRUCTIONS **************************/

/************************** CHARACTER SELECTION **************************/
#characters th {
  font-size: 24px;
  text-align: center;
}

/* Character tile images */
#characters td img {
  //border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#characters td:hover img {
  opacity: 0.5;
}

#characters p {
  background: #90ceb4;
  border-radius: 10px;
  color: white;
  //border: dashed 4px #a6e0cd;
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
}
/*********************** END OF CHARACTER SELECTION **********************/

/***************************** RIBBON HEADER *****************************/
/* Ribbon template credits to https://css-tricks.com/snippets/css/ribbon/ */
.ribbon {
 font-size: 18px !important;
 width: 55%;
 position: relative;
 background: #91b7c6;
 color: #fff;
 text-align: center;
 padding: 1em 2em;
 margin: 2em auto 3em;
 margin-top: 80px;
 margin-bottom: 40px;
}

.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #799aa8;
 z-index: -1;
}

.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}

.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #57717c transparent transparent transparent;
 bottom: -1em;
}

.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
/************************** END OF RIBBON HEADER *************************/

/****************************** BATTLEFIELD ******************************/
/* Make character imgs 200x200 */
.player-info img {
  width: 200px;
  height: 200px;
}

/* Div that contains character img + player stats */
.player-info p {
  font-size: 40px;
  margin: 0;
}

/* Used to render HP bars in a row */
.hp {
  display: inline-block;
}

/* Renders green HP bars */
.hp-bar-alive {
  border: 1px none;
  height: 30px;
  width: 5px;
  background: #83ea8f;
  margin-right: 2px;
  display: inline-block;
}

/* Renders grey HP bars */
.hp-bar-dead {
  border: 1px none;
  height: 30px;
  width: 5px;
  background: #d6d8db;
  margin-right: 2px;
  display: inline-block;
}

/* HP status (e.g., "HP 60/100") */
.hp p {
  text-align: right;
  font-size: 30px;
}

/* Styles the attack buttons, which are img inputs */
.attack input {
  height: 70px;
  width: auto;
  margin-left: 15px;
}

.attack input:hover:enabled {
  opacity: 0.5;
}

.attack input:disabled {
  cursor: default;
}

/* Places "Choose an attack" on same line as attack buttons */
.attack span {
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
}

/* Waiting message when the game doesn't have two players yet */
.waiting p {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 35px;
}

.waiting img {
  height: 50px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Adds some padding between the battlefield and the header */
#battlefield {
  padding-top: 80px;
}
/*************************** END OF BATTLEFIELD **************************/

/****************************** IN-GAME HELP *****************************/
/* Don't display the help text by default */
.help {
  display: none;
}

/* Text on the help page; override inherited .instructions styling */
#help-pg-1 span {
  font-size: 27px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

#help-pg-2 .divider {
  color: black;
}

.mult p {
  font-size: 25px;
  text-align: center;
}

.help img {
  height: 80px;
  width: auto;
}

.help .row {
  margin-top: 15px;
}

.help a {
  font-size: 22px;
}

.help .divider {
  font-size: 22px;
}

#mult-end {
  font-size: 22px;
}
/*************************** END OF IN-GAME HELP *************************/

/****************************** LEADERBOARD ******************************/
.leaderboard .ribbon {
  margin-top: 20px;
  margin-bottom: 40px;
}

.victory {
  background: #a3d1ff;
}

.defeat {
  background: #f79eaa;
}
/************************** END OF LEADERBOARD ***************************/
