/* This file is for your main application css. */
@import "bootstrap";

@font-face {
  font-family: 'Pokemon Classic';
  src: url('/fonts/Pokemon Classic.ttf');
}

@font-face {
  font-family: 'PixelOperator';
  src: url('/fonts/PixelOperator.ttf');
}

body {
  font-family: 'PixelOperator';
  font-size: 18px;
}

a:hover {
    text-decoration: none;
}

p {
  text-align: justify;
}

.right-side {
  text-align: right;
  display: block;
}

.home-header {
  font-family: 'Pokemon Classic';
  font-size: 70px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.instructions {
  display: none;
  font-size: 19px;
}

#main a {
  font-size: 21px;
}

.btn {
  font-size: 21px;
}

#close {
  text-align: right;
}

#instruction-span {
  color: #57af9e;
}

.divider {
  display: inline;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
}
