/* This file is for your main application css. */
@import "bootstrap";

/**************************** FONTS **************************/
@font-face {
  font-family: 'Pokemon Classic';
  src: url('/fonts/Pokemon Classic.ttf');
}

@font-face {
  font-family: 'PixelOperator';
  src: url('/fonts/PixelOperator.ttf');
}
/************************ END OF FONTS ***********************/

/******************** SHARED ACROSS PAGES ********************/
body {
  font-family: 'PixelOperator';
  font-size: 21px;
}

a:hover {
    text-decoration: none;
}

.btn {
  font-size: 21px;
}

.btn-primary {
  width: 100%;
}

/* Used for "SHAMBOMON" header on every page */
.shambomon-header {
  font-family: 'Pokemon Classic';
  font-size: 70px;
}

h1 {
  font-family: 'Pokemon Classic';
  font-size: 45px;
}

/* Centers a div in the middle of the screen */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

/* Aligns a div on the right side */
.right-side {
  text-align: right;
  display: block;
}

/* Creates a "|" divider between text */
.divider {
  display: inline;
  font-weight: bold;
  padding-left: 7px;
  padding-right: 7px;
}

/* Centers text */
.center-text {
  text-align: center;
}
/***************** END OF SHARED ACROSS PAGES ****************/

/************************ INSTRUCTIONS ***********************/
/* Don't display the instructions by default */
.instructions {
  display: none;
  font-size: 19px;
}

/* Justifies the instruction p tags */
.explanation {
  text-align: justify;
}

/* Emphasizes certain text by changing the color */
.instructions span {
  color: #57af9e;
}
/******************** END OF INSTRUCTIONS ********************/

/******************** CHARACTER SELECTION ********************/
th {
  font-size: 24px;
  text-align: center;
}

/* Character tile images */
td img {
  //border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td:hover img {
  opacity: 0.5;
}
/***************** END OF CHARACTER SELECTION ****************/

/************************ BATTLEFIELD ************************/
/* Make character imgs 200x200 */
.player-info img {
  width: 200px;
  height: 200px;
}

/* Div that contains character img + player stats */
.player-info p {
  font-size: 40px;
  margin: 0;
}

/* Used to render the player on the bottom */
#bottom-player {
  margin-top: 100px;
}

/* Used to render HP bars in a row */
.hp {
  display: inline-block;
}

/* Renders green HP bars */
.hp-bar-alive {
  border: 1px none;
  height: 30px;
  width: 5px;
  background: #83ea8f;
  margin-right: 2px;
  display: inline-block;
}

/* Renders grey HP bars */
.hp-bar-dead {
  border: 1px none;
  height: 30px;
  width: 5px;
  background: #d6d8db;
  margin-right: 2px;
  display: inline-block;
}

/* HP status (e.g., "HP 60/100") */
.hp p {
  text-align: right;
  font-size: 30px;
}

.attack button {
  font-size: 30px;
  margin-right: 10px;
  width: 50px;
  border-radius: 5px;
  background: #8c8f91;
  color: white;
}

.attack button:hover {
  background: #5f6163;
}

/* Places "Choose an attack" on same line as attack btns */
.attack span {
  font-size: 30px;
}
/********************* END OF BATTLEFIELD ********************/
