<%= render ShambomonWeb.ComponentView, "background.html", assigns %>
<%= render ShambomonWeb.ComponentView, "header.html", assigns %>

<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :create)) %>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= link "CANCEL", to: page_path(@conn, :index) %>
    </div>
  </div>
</div>
