<!-- Error message when the user is not logged in -->
<div class="centered center-text">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p>You must log in first.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= link "BACK TO HOME", to: page_path(@conn, :index) %>
    </div>
  </div>
</div>
